/*  your css code here. If applicable */
.middle{
	border: 1px solid black;
	spacing: 1px;
	padding: 1px;
}
#t11{
	text-align: left;
}
#t12{
	text-align: center;
}
#t13{
	text-align: right;
}
#table-1,#table-2, #table-3{
	width:100%;
}

.green{
	background-color: green;
}
#t-image{
	text-align: center;
}
.blue{
	background-color: blue;
}
